---

import MySiteLayout from '../../layouts/MySiteLayout.astro';
---

<MySiteLayout title=blog>

  <a href="/">
    <h1 class="text-3xl font-bold mb-8 text-neutral-200 italic underline">← back</h1>
  </a> 
	

</MySiteLayout>