---
import MySiteLayout from '../layouts/MySiteLayout.astro';
---
<MySiteLayout title="â— home" class='flex flex-wrap m-2'>

    <h1 class="text-3xl font-bold mb-8 text-neutral-600 italic">donnie d</h1>
	<p class="max-w-lg mb-10">I am a 20 year old <strong>cse</strong> major at <strong>osu</strong> and I like 
	to make <strong>websites</strong> in my freetime and go to the <strong>gym</strong>.</p>

	<p class="mb-10">I'm trying to learn <strong class="text-cyan-300">React</strong>, <strong class="text-sky-400">TailwindCSS</strong>,
		 along with <strong class="text-lime-600">NodeJS</strong> to
	build up my <strong class="rainbow">webdev</strong> skills</p>

	<p class="mb-20">I am currently working on getting this website up to show <strong>blogs...</strong></p>

	<p class="max-w-lg">Under construction...
	</p>

</MySiteLayout>


