---
export function getStaticPaths() {
  return [
    {params: {dog: 'clifford'}},
    {params: {dog: 'rover'}},
    {params: {dog: 'spot'}},
  ];
}

const { dog } = Astro.params;

import MySiteLayout from '../../layouts/MySiteLayout.astro';
---
<MySiteLayout title="â— home">

    <p>good boy {dog}</p>

</MySiteLayout>