---
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>donnie d {title}</title>
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}

		</style>
		<style>
			@import '../styles.css';
		</style>
	</head>

	<body class="bg-neutral-900 font-roboto flex max-w-fit justify-center">
		<main class="w-screen flex justify-center">
			<div class="flex items-start flex-col max-w-fit text-gray-50 selection:bg-slate-700 m-3">
				<slot /> <!-- your content is injected here -->
			</div>
		</main>		
	</body>
</html>
